* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
  background-image: url(../background.webp);
  background-repeat: no-repeat;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}
.container .heading {
  flex-basis: 100%;
  color: #795548;
  text-align: center;
}
.container .button input[type='radio'] {
  display: none;
}
.container .button input[type='radio']:checked + label {
  border: 3px solid #795548;
}
.container .button label {
  display: block;
  width: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  user-select: none;
  border-radius: 6px;
  padding: 10px 15px;
  background-color: #009688;
}
